<ion-header>
  <ion-navbar>
    <ion-title>
      SCN
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Event</ion-label>
      <ion-select [(ngModel)]="type">
        <ion-option value="isolation">Isolation</ion-option>
        <ion-option value="breakfast">Breakfast</ion-option>
        <ion-option value="lunch">Lunch</ion-option>
        <ion-option value="dinner">Dinner</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button color="dark" full round (click)="scan()">Start Scan</button>
  <div class="flx-row">
    <div class="width50">
      <button ion-button color="dark" full round (click)="onUsers('officials')">Officials</button>
    </div>
    <div class="width50">
      <button ion-button color="dark" full round (click)="onUsers('atheletes')">Atheletes</button>
    </div>
  </div>

  <ion-list *ngIf="utype === 'officials'">
    <ion-item *ngFor="let user of officials">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label>
        <h2>{{user.no}} - {{user.name}}</h2>
        <p>{{user.designation}}</p>
      </ion-label>
      <ion-note item-end>{{user.zone}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let user of atheletes">
      <ion-icon name="person" item-start></ion-icon>
      <ion-label *ngIf="utype === 'atheletes'">
        <h2>{{user.no}} - {{user.name}}</h2>
        <p>{{user.category}} - {{user.bibno}}</p>
      </ion-label>
      <ion-note item-end>{{user.zone}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>